<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ini-parser" version="2.5.2" targetFramework="net461" />
  <package id="Leadtools.Annotations.Engine.dll.NETFramework" version="20.0.0.3" targetFramework="net461" />
  <package id="Leadtools.Annotations.Engine.NETFramework" version="20.0.0.3" targetFramework="net461" />
  <package id="Leadtools.Async.dll.NETFramework" version="20.0.0.3" targetFramework="net461" />
  <package id="Leadtools.Codecs.Bmp.dll.NETFramework" version="20.0.0.3" targetFramework="net461" />
  <package id="Leadtools.Codecs.Cmp.dll.NETFramework" version="20.0.0.3" targetFramework="net461" />
  <package id="Leadtools.Codecs.Cmw.dll.NETFramework" version="20.0.0.3" targetFramework="net461" />
  <package id="Leadtools.Codecs.dll.NETFramework" version="20.0.0.3" targetFramework="net461" />
  <package id="Leadtools.Codecs.Fax.dll.NETFramework" version="20.0.0.3" targetFramework="net461" />
  <package id="Leadtools.Codecs.Gif.dll.NETFramework" version="20.0.0.3" targetFramework="net461" />
  <package id="Leadtools.Codecs.J2k.dll.NETFramework" version="20.0.0.3" targetFramework="net461" />
  <package id="Leadtools.Codecs.Jb2.dll.NETFramework" version="20.0.0.3" targetFramework="net461" />
  <package id="Leadtools.Codecs.Jbg.dll.NETFramework" version="20.0.0.3" targetFramework="net461" />
  <package id="Leadtools.Codecs.Png.dll.NETFramework" version="20.0.0.3" targetFramework="net461" />
  <package id="Leadtools.Codecs.Raw.dll.NETFramework" version="20.0.0.3" targetFramework="net461" />
  <package id="Leadtools.Codecs.Tif.dll.NETFramework" version="20.0.0.3" targetFramework="net461" />
  <package id="Leadtools.ColorConversion.dll.NETFramework" version="20.0.0.3" targetFramework="net461" />
  <package id="Leadtools.dll.NETFramework" version="20.0.0.3" targetFramework="net461" />
  <package id="Leadtools.Document.Writer.dll.NETFramework" version="20.0.0.3" targetFramework="net461" />
  <package id="Leadtools.Document.Writer.NETFramework" version="20.0.0.3" targetFramework="net461" />
  <package id="Leadtools.Drawing.dll.NETFramework" version="20.0.0.3" targetFramework="net461" />
  <package id="Leadtools.Drawing.MP.dll.NETFramework" version="20.0.0.3" targetFramework="net461" />
  <package id="Leadtools.Formats.Raster.Common.NETFramework" version="20.0.0.3" targetFramework="net461" />
  <package id="Leadtools.Image.Processing.NETFramework" version="20.0.0.3" targetFramework="net461" />
  <package id="Leadtools.ImageProcessing.Color.dll.NETFramework" version="20.0.0.3" targetFramework="net461" />
  <package id="Leadtools.ImageProcessing.Core.dll.NETFramework" version="20.0.0.3" targetFramework="net461" />
  <package id="Leadtools.ImageProcessing.Effects.dll.NETFramework" version="20.0.0.3" targetFramework="net461" />
  <package id="Leadtools.ImageProcessing.Kernel.dll.NETFramework" version="20.0.0.3" targetFramework="net461" />
  <package id="Leadtools.ImageProcessing.SpecialEffects.dll.NETFramework" version="20.0.0.3" targetFramework="net461" />
  <package id="Leadtools.ImageProcessing.Utilities.dll.NETFramework" version="20.0.0.3" targetFramework="net461" />
  <package id="Leadtools.Kernel.NETFramework" version="20.0.0.3" targetFramework="net461" />
  <package id="Leadtools.Ocr" version="20.0.0.3" targetFramework="net461" />
  <package id="Leadtools.Ocr.dll.NETFramework" version="20.0.0.3" targetFramework="net461" />
  <package id="Leadtools.Ocr.Languages.Main.NET" version="20.0.0.3" targetFramework="net461" />
  <package id="Leadtools.Ocr.LEADEngine.dll.NETFramework" version="20.0.0.3" targetFramework="net461" />
  <package id="Leadtools.Ocr.NETFramework" version="20.0.0.3" targetFramework="net461" />
  <package id="Leadtools.Svg.dll.NETFramework" version="20.0.0.3" targetFramework="net461" />
  <package id="Leadtools.Vector.dll.NETFramework" version="20.0.0.3" targetFramework="net461" />
</packages>